version: '3.8'

services:
  nginx:
    build:
      context: ./api_gateway
      dockerfile: Dockerfile
    container_name: api_gateway
    ports:
      - "80:80"
    depends_on:
      - auth_service
      - order_service
      - notification_service
    networks:
      - microservices_network

  auth_service:
    build:
      context: ./auth_service
      dockerfile: Dockerfile
    container_name: auth_service
    ports:
      - "8000:8000"
    volumes:
      - ./auth_service:/app
    networks:
      - microservices_network
    command: python manage.py runserver 0.0.0.0:8000

  order_service:
    build:
      context: ./order_service
      dockerfile: Dockerfile
    container_name: order_service
    ports:
      - "8001:8001"
    volumes:
      - ./order_service:/app
    environment:
      - RABBITMQ_HOST=rabbitmq
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - microservices_network
    command: python manage.py runserver 0.0.0.0:8001

  notification_service:
    build:
      context: ./notification_service
      dockerfile: Dockerfile
    container_name: notification_service
    ports:
      - "8002:8002"
    volumes:
      - ./notification_service:/app
    environment:
      - RABBITMQ_HOST=rabbitmq
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - microservices_network
    command: python manage.py runserver 0.0.0.0:8002

  notification_consumer:
    build:
      context: ./notification_service
      dockerfile: Dockerfile
    container_name: notification_consumer
    volumes:
      - ./notification_service:/app
    environment:
      - RABBITMQ_HOST=rabbitmq
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - microservices_network
    command: python notifications/consumer.py

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - microservices_network
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

networks:
  microservices_network:
    driver: bridge

